<editor
  [init]="{
      base_url: '/tinymce',
      suffix: '.min',
      height: 500,
      menubar: 'file edit view format',
      plugins: [
        'advlist', 'autolink', 'link', 'image', 'lists', 'charmap', 'preview', 'anchor', 'pagebreak',
        'searchreplace', 'wordcount', 'visualblocks', 'code', 'fullscreen', 'insertdatetime', 'media',
        'table', 'emoticons', 'template', 'help'
      ],
      toolbar: [
        'undo redo | styles | bold italic | alignleft aligncenter alignright alignjustify | ' +
        'bullist numlist outdent indent | link image | print preview media fullscreen | ' +
        'forecolor backcolor emoticons | help'
      ],
      content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:16px }'
    }"
></editor>